.main {
    background-color: aliceblue;

}

.login {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: aliceblue;
}
.Head {
    font-size: large;
    font-weight: 700 !important;
    text-align: center;
}.input {
    margin-top: 15px;
}
.btn{
    margin-top: 15px;
    align-items: center;
}